<ul class="menu" id="mymenu" role="navigation">
  
  {% for link in site-nav.links %}
  
    {% assign child_list_handle = link.title | handleize %}
  
    {% if linklists[child_list_handle].links != blank %}
      
  	 <li class="site-nav--has-dropdown{% if link.active %} site-nav--active{% endif %}" aria-haspopup="true">
        <a href="{{ link.url }}" class="">
          {{ link.title }}
        </a>
       
        <ul class="sub-menu" id="{{ child_list_handle }}">
          
          {% for childlink in linklists[child_list_handle].links %}
          
          {% assign child2_list_handle = childlink.title | handleize %}
          
            {% if linklists[child2_list_handle].links != blank %}
          	  <li class="site-nav--has-dropdown grid{% if childlink.active %} site-nav--active{% endif %}" aria-haspopup="true">
                  <a href="{{ childlink.url }}" class="">
                    {{ childlink.title }}
                  </a>
          
          		 <ul class="sub-sub-menu">
                   
                   {% for child2link in linklists[child2_list_handle].links %}
                      <li{% if child2link.active %} class="site-nav--active"{% endif %}>
                        <a href="{{ child2link.url }}" class="">{{ child2link.title | escape }}</a>
                      </li>
                   {% endfor %}
                   
                 </ul>
              </li>
          
            {% else %}
          
            <li{% if childlink.active %} class="site-nav--active"{% endif %}>
              <a href="{{ childlink.url }}" class="">{{ childlink.title | escape }}</a>
            </li>
          
            {% endif %}
          
          {% endfor %}
          
        </ul>
       
      </li>
    
    {% else %}
  
      <li {% if link.active %}class="site-nav--active"{% endif %}>
        <a href="{{ link.url }}" class="">{{ link.title }}</a>
      </li>
  
    {% endif %}
  
  {% endfor %}
  
</ul>

